    /* main about-us */
    
    .section-aboutus {
        margin-bottom: 70px;
    }
    
    .title {
        margin-bottom: 22px;
        font-family: 'OpenSans';
        font-weight: 400;
        font-size: 48px;
    }
    
    .text {
        max-width: 1080px;
        font-family: 'OpenSans';
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: -0.002px;
    }
    /* left gallery */
    
    .section-gallery__container {
        display: flex;
        justify-content: space-between;
        max-width: 1700px;
        margin: 0 auto;
        padding-top: 82px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .section-gallery {
        margin-bottom: 82px;
        background-image: url(../img/галерея.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #333333;
    }
    
    .gallery-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;
    }
    
    .info-header {
        margin-bottom: 30px;
        font-family: 'OpenSans';
        font-weight: 400;
        font-size: 48px;
        color: var(--color-white);
    }
    
    .info-filter {
        margin-bottom: 17px;
        font-family: 'OpenSans';
        font-weight: 600;
        font-size: 16px;
        color: var(--color-white);
    }
    
    .info-moreinfo {
        padding-bottom: 71px;
        font-family: 'OpenSans';
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        color: var(--color-white);
    }
    
    .moreinfo-identification {
        color: var(--color-purple);
    }
    /* Селект */
    
    div[id$="choice-1"] {
        display: none;
    }
    
    .choices[data-type*=select-one] .choices__inner {
        padding-bottom: 5px;
    }
    
    .choices__inner {
        padding: 7px 10px 4px 12px;
        max-width: 400px;
        border-radius: 10px;
        background-color: transparent;
        border: 1px solid var(--color-white)
    }
    
    .is-open .choices__inner {
        padding: 5px 10px 5px 12px;
        max-width: 400px;
        border-radius: 10px;
        background-color: transparent;
    }
    
    .choices__item {
        position: relative;
        font-family: 'OpenSans';
        font-weight: 400;
        font-size: 16px;
    }
    
    .choices__item:first-child {
        color: var(--color-white);
        opacity: unset;
    }
    
    .choices__item:first-child::after {
        content: " ";
        position: absolute;
        display: inline-block;
        right: -12px;
        top: 7px;
        border: solid var(--color-white);
        border-width: 0 2px 2px 0;
        padding: 3px;
        transform: rotate(45deg);
        transition: transform .5s ease;
    }
    
    .choices.is-open .choices__item:first-child::after {
        top: 9px;
        transform: rotate(225deg);
    }
    
    .choices__item:nth-child(2)::after,
    .choices__item:nth-child(3)::after,
    .choices[data-type*=select-one]:after {
        display: none;
    }
    
    .is-open .choices__list--dropdown {
        background-color: transparent;
        max-width: 400px;
        color: #999999;
        border-color: #999999;
        border-radius: 10px;
    }
    
    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background-color: rgba(255, 255, 255, 0.2);
        color: var(--color-white)
    }
    
    .choices__list--dropdown .choices__item {
        font-family: 'OpenSans';
        font-weight: 400;
        font-size: 16px;
    }
    
    .choices__item:nth-child(2) {
        border-bottom: 1px solid rgba(153, 153, 153, 1);
        padding-left: 20px;
        min-height: 40px;
        display: flex;
        align-items: center;
        color: var(--color-grey);
        opacity: unset;
    }
    
    .choices__item:nth-child(3) {
        padding-left: 20px;
        min-height: 40px;
        display: flex;
        align-items: center;
        color: var(--color-grey);
        opacity: unset;
    }
    /* right gallery */
    
    .wrapper-gallery {
        width: 72%;
        overflow: hidden;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 80px;
    }
    
    .swiper-right-content .swiper-wrapper {
        height: 750px;
    }
    
    .swiper-btn-position {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
    }
    
    .swiper-right-btns {
        padding-top: 2px;
        padding-left: 5px;
        margin-bottom: 32px;
    }
    
    .swiper-pagination-horizontal {
        font-family: 'OpenSans';
        font-weight: 400;
        font-size: 16px;
        color: var(--color-white);
    }
    
    .swiper-pagination-right {
        width: fit-content;
        padding: 0;
        padding-left: 18px;
        padding-right: 18px;
        text-align: center;
    }
    
    .swiper-btn-prev,
    .swiper-btn-next {
        position: relative;
        background-color: transparent;
        border: none;
        color: transparent;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    /* стрелки свайпер */
    
    .gallery-btn-prev::before {
        top: calc(50% - 9px/2);
        right: calc(50% - 9px/2);
    }
    
    .swiper-btn-prev::before {
        content: " ";
        position: absolute;
        display: inline-block;
        padding: 4px;
        border: solid var(--color-white);
        border-width: 0 1px 1px 0;
        transform: rotate(135deg);
        z-index: 1;
    }
    
    .gallery-btn-prev::after {
        bottom: 0;
        right: 0;
    }
    
    .swiper-btn-prev::after {
        content: " ";
        position: absolute;
        width: 30px;
        height: 30px;
        background: rgba(102, 102, 102, 1);
        border-radius: 100%;
        overflow-y: visible;
        cursor: pointer;
    }
    
    .gallery-btn-next::before {
        top: calc(50% - 9px/2);
        left: calc(50% - 9px/2);
    }
    
    .swiper-btn-next::before {
        content: " ";
        position: absolute;
        display: inline-block;
        padding: 4px;
        border: solid var(--color-white);
        border-width: 0 1px 1px 0;
        transform: rotate(-45deg);
        z-index: 1;
    }
    
    .gallery-btn-next::after {
        bottom: 0;
        left: 0;
    }
    
    .swiper-btn-next::after {
        content: " ";
        position: absolute;
        width: 30px;
        height: 30px;
        background: rgba(102, 102, 102, 1);
        border-radius: 100%;
        cursor: pointer;
        overflow-y: visible;
    }
    
    .gallery-slide {
        background-color: var(--color-grey);
        position: relative;
        cursor: pointer;
        height: calc((100% - 50px) / 2);
    }
    
    .gallery-slide::after {
        content: " ";
        position: absolute;
        top: 25px;
        bottom: 25px;
        right: 25px;
        left: 25px;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url(../img/ховер/галерея.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        opacity: 0;
        transition-property: z-index, opacity;
        transition: .3s ease-in-out;
    }
    
    .gallery-slide::before {
        content: " ";
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background-color: rgba(194, 131, 243, 0.4);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        opacity: 0;
        transition-property: z-index, opacity;
        transition: .3s ease-in-out;
    }
    
    .swiper-slide-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    /* popup */
    
    .popup {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        overflow-y: auto;
        transition: all 0.8s ease 0s;
    }
    
    .popup.open {
        opacity: 1;
        visibility: visible;
    }
    
    .popup.open .popup__content {
        opacity: 1;
        transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
    }
    
    .popup__body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
    }
    
    .popup__content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        max-width: 900px;
        background-color: var(--color-white);
        color: var(--color-dark);
        font-family: 'OpenSans';
        position: relative;
        opacity: 0;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
        transition: all 0.8s ease 0s;
    }
    
    .popup__picture {
        min-width: 400px;
        height: 500px;
        object-fit: cover;
    }
    
    .popup__img {
        width: 100%;
        height: 100%;
        background-position: center;
    }
    
    .popup__information {
        padding: 122px 50px 115px 46px
    }
    
    .popup__title {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 24px;
    }
    
    .popup__picturename {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 16px;
    }
    
    .popup__picturedate {
        margin-bottom: 33px;
        font-weight: 400;
        font-size: 12px;
    }
    
    .popup__pictureinfo {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
    }
    
    .popup__close {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        cursor: pointer;
        top: 30px;
        right: 20px;
    }
    
    .popup__close::before {
        content: " ";
        position: absolute;
        transform: rotate(42deg);
        border: 0.5px solid var(--color-dark);
        height: 2px;
        width: 100%;
    }
    
    .popup__close::after {
        content: " ";
        position: absolute;
        transform: rotate(-42deg);
        border: 0.5px solid var(--color-dark);
        height: 2px;
        width: 100%;
    }
    
    body.lock {
        overflow: hidden
    }
    /* hover active focus*/
    
    .swiper-btn-prev::after,
    .swiper-btn-next::after,
    .gallery-slide::after,
    .choices__inner,
    .moreinfo-identification {
        transition: background-color, z-index, opacity, color;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    
    .swiper-btn-prev:hover::after,
    .swiper-btn-next:hover::after {
        background-color: var(--color-hover);
    }
    
    .swiper-btn-prev:active::after,
    .swiper-btn-next:active::after {
        background: var(--color-active);
        border: 1px solid var(--color-dark);
    }
    
    .swiper-btn-prev:focus::after,
    .swiper-btn-next:focus::after {
        border: 1px solid var(--color-dark);
    }
    
    .gallery-slide:hover::after {
        z-index: 1;
        opacity: 1;
    }
    
    .gallery-slide:active::before {
        z-index: 2;
        opacity: 1;
    }
    
    .gallery-slide:focus::before {
        z-index: 2;
        opacity: 1;
        border: 1px solid var(--color-white);
    }
    
    .choices__inner:hover,
    .choices__inner:active {
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    .choices:focus {
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    .moreinfo-identification:hover {
        color: var(--color-hover);
    }
    
    .moreinfo-identification:active {
        color: var(--color-active);
    }
    
    .moreinfo-identification:focus {
        color: var(--color-active);
    }
    
    @media (max-width:1700px) {
        .gallery-slide {
            height: calc(350px - (1700px - 100vw)*0.228);
        }
        .swiper-right-content .swiper-wrapper {
            height: calc(750px - (1700px - 100vw)*0.4);
            ;
        }
    }
    
    @media (max-width:1300px) {
        .section-gallery__container {
            max-width: 1026px;
        }
        .gallery-info {
            width: 30.6%;
        }
        .wrapper-gallery {
            width: 64.5%;
        }
        .swiper-right-content .swiper-wrapper {
            height: 590px;
        }
        .gallery-slide {
            height: calc((100% - 30px) / 2);
        }
        .info-filter {
            margin-bottom: 15px;
        }
        .info-moreinfo {
            padding-bottom: 69px;
        }
        .section-gallery {
            margin-bottom: 86px;
        }
        .popup__content {
            max-width: 594px;
        }
        .popup__picture {
            min-width: 264px;
            height: 594px;
        }
        .popup__information {
            padding: 126px 50px 77px 49px;
        }
    }
    
    @media (max-width:1015px) {
        .gallery-slide {
            height: calc(280px - (1015px - 100vw)*0.32);
        }
        .swiper-right-content .swiper-wrapper {
            height: calc(590px - (1015px - 100vw)*0.5);
        }
    }
    
    @media (max-width:885px) {
        .section-gallery__container {
            justify-content: unset;
            flex-direction: column;
            position: relative;
            padding-bottom: 85px;
            max-width: 769px;
        }
        .info-moreinfo {
            position: absolute;
            padding: 0;
            bottom: 70px;
            max-width: 668px;
        }
        .gallery-info {
            margin-bottom: 48px;
            width: 42%;
        }
        .choices__list--dropdown {
            z-index: 2;
        }
        .choices__list--dropdown .choices__item {
            background-color: rgba(0, 0, 0, 1);
        }
        .wrapper-gallery {
            padding-top: 0px;
            width: 100%;
        }
        .swiper-right-btns {
            padding: 0;
            margin-bottom: 30px;
        }
        .swiper-right-content .swiper-wrapper {
            height: 594px;
        }
        .gallery-slide {
            height: calc((100% - 34px) / 2)
        }
        .swiper-slide-img {
            object-fit: unset;
        }
        .popup__content {
            max-width: 668px;
        }
        .popup__picture {
            min-width: 301px;
        }
        .popup__information {
            padding: 126px 36px 108px 49px;
        }
    }
    
    @media (max-width:650px) {
        .section-aboutus {
            margin-bottom: 42px;
        }
        .title {
            margin-bottom: 13px;
            font-size: 28px;
        }
        .text {
            font-size: 14px;
            line-height: 28px;
        }
        .section-gallery__container {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 52px;
            padding-bottom: 140px;
        }
        .info-header {
            margin-bottom: 22px;
            font-size: 28px;
        }
        .gallery-info {
            margin-bottom: 38px;
            width: 50%;
            min-width: 290px;
        }
        .info-filter {
            margin-bottom: 10px;
        }
        .wrapper-gallery {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        .swiper-pagination-right {
            padding-left: 13px;
            padding-right: 13px;
        }
        .swiper-right-btns {
            margin-bottom: unset;
        }
        .swiper-right-content .swiper-wrapper {
            margin-bottom: 20px;
            height: 367px;
            max-width: 290px;
        }
        .gallery-slide {
            height: 100%;
            width: 100%;
        }
        .info-moreinfo {
            max-width: 90%;
            bottom: 40px;
        }
        .section-gallery {
            margin-bottom: 52px;
        }
        .popup__content {
            flex-direction: column;
            max-width: 290px;
        }
        .popup__picture {
            min-width: 290px;
            height: 200px;
        }
        .popup__information {
            padding: 17px 21px 26px 20px;
        }
        /* hover */
        .swiper-btn-prev:hover::after,
        .swiper-btn-next:hover::after {
            background: rgba(102, 102, 102, 1);
        }
        .swiper-btn-prev:active::after,
        .swiper-btn-next:active::after {
            background: var(--color-active);
            border: 1px solid var(--color-dark);
        }
        .gallery-slide:hover::after {
            z-index: 0;
            opacity: 0;
        }
        .choices__inner:hover {
            background-color: transparent;
        }
        .choices__inner:active {
            background-color: rgba(255, 255, 255, 0.2);
        }
        .moreinfo-identification:hover {
            color: var(--color-purple);
        }
        .moreinfo-identification:active {
            color: var(--color-active);
        }
    }