    /* contacts */
    
    .social1024,
    .social320 {
        display: none;
    }
    
    .contacts-info {
        display: flex;
    }
    
    .inside-form-container {
        padding-left: 50px;
    }
    
    .contacts-form {
        padding-top: 124px;
        padding-left: calc((100vw - 1600px)/2 - 50px);
        padding-right: 120px;
        padding-bottom: 100px;
        border: 1px solid #CACACA;
    }
    
    .form-nameshop {
        margin-bottom: 10px;
        font-family: 'OpenSans';
        font-weight: 600;
        font-size: 24px;
    }
    
    .form-nameaddress {
        margin-bottom: 39px;
        font-family: 'OpenSans';
        font-size: 16px;
    }
    
    .form-client-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        position: relative;
    }
    
    .client-info-order {
        margin-bottom: 18px;
        font-family: 'OpenSans';
        font-weight: 400;
        font-size: 24px;
    }
    
    .client-info-field {
        padding: 10px 40px 10px 24px;
        min-width: 400px;
        border-radius: 100px;
        color: var(--color-grey);
        border: 1px solid #333333;
        cursor: pointer;
    }
    
    .client-name {
        margin-bottom: 20px;
    }
    
    .client-phone {
        margin-bottom: 22px;
    }
    
    .js-validate-error-label {
        position: absolute;
        left: 25px;
        white-space: nowrap;
        font-family: 'OpenSans';
        font-weight: 400;
        font-size: 12px;
    }
    
    .myname+.js-validate-error-label {
        bottom: 187px;
    }
    
    .mytel+.js-validate-error-label {
        bottom: 126px;
    }
    
    .add-client {
        position: relative;
        max-width: 157px;
        padding: 19px 35px;
        border: 2px solid var(--color-purple);
        border-radius: 100px;
        font-family: 'OpenSans';
        font-weight: 700;
        font-size: 18px;
        color: var(--color-purple);
        background-color: transparent;
    }
    
    .add-client::before {
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        left: -6px;
        height: calc(100% + 10px);
        width: calc(100% + 12px);
        border-radius: 100px;
        border: 3px solid transparent;
    }
    
    .contacts-messanger {
        margin-bottom: 15px;
        font-family: 'OpenSans';
        font-weight: 400;
        font-size: 24px;
    }
    
    .messanger-link {
        display: flex;
    }
    
    .messanger:first-child {
        margin-right: 17px;
    }
    
    .social {
        width: 40px;
        height: 40px;
        border: .5px solid transparent;
        border-radius: 100%;
    }
    
    [class*="ymaps-2"][class*="-ground-pane"] {
        filter: grayscale(1);
    }
    
    .map {
        width: 100%;
        height: 100%;
        min-height: 700px;
    }
    
    .ymaps-2-1-79-zoom {
        top: 270px;
    }
    
    .ymaps-2-1-79-_hidden-text {
        top: 350px;
    }
    
    .ymaps-2-1-79-float-button {
        border: 10px;
    }
    /* footer */
    
    .social-footer1024,
    .social-footer320 {
        display: none;
    }
    
    .section-footer {
        background-color: var(--color-dark);
        color: var(--color-white);
    }
    
    .section-footer__container {
        display: flex;
        justify-content: space-between;
        padding-top: 45px;
        padding-bottom: 45px;
    }
    
    .footer-social {
        margin-top: 0px;
        display: flex;
    }
    
    .messanger-footer:not(:last-child) {
        margin-right: 20px;
    }
    
    .social-footer {
        width: 45px;
        height: 45px;
        fill: #CACACA;
    }
    
    .footer-social {
        margin-bottom: 0px;
    }
    /* hover focus active */
    
    .social,
    .social-footer,
    .client-info-field,
    .add-client {
        transition: filter, opacity, fill, border, background-color, color;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    
    .social:hover {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        opacity: 0.5;
    }
    
    .link-social:focus .social {
        filter: none;
        opacity: 0.5;
    }
    
    .social:active {
        filter: none;
        opacity: 0.5;
        border: .5px solid var(--color-hover);
    }
    
    .social-footer:hover {
        fill: var(--color-white);
    }
    
    .footer-application-link:focus .social-footer {
        fill: var(--color-white);
    }
    
    .social-footer:active {
        fill: var(--color-active);
    }
    
    .add-client:hover {
        border: 2px solid var(--color-active);
        background-color: var(--color-hover);
        color: var(--color-white);
    }
    
    .add-client:focus::before {
        border: 2px solid var(--color-active);
    }
    
    .add-client:focus {
        border: 2px solid #D1A9F0;
        background-color: var(--color-white);
        color: var(--color-hover);
    }
    
    .add-client:active::before {
        border: 2px solid var(--color-active);
    }
    
    .add-client:active {
        border: 2px solid #D1A9F0;
        background-color: var(--color-hover);
        color: var(--color-white);
    }
    
    .client-info-field:hover,
    .client-info-field:focus {
        background-color: #EAEAEA;
    }
    
    @media (max-width:1300px) {
        .form-nameshop {
            margin-bottom: 12px;
        }
        .social1024 {
            display: block;
        }
        .social1920 {
            display: none;
        }
        .contacts-form {
            padding-left: calc((100vw - 926px)/2 - 50px);
            padding-right: 100px;
            padding-bottom: 88px;
        }
        .contacts-title {
            margin-bottom: 21px;
        }
        .client-info-field {
            margin-bottom: 22px;
            padding: 10px 24px;
            min-width: 335px;
        }
        .add-client {
            padding: 18px 35px;
        }
        .messanger:first-child {
            margin-right: 30px;
        }
        .section-footer__container {
            padding-top: 47px;
        }
        .social-footer1024 {
            display: block;
        }
        .social-footer1920 {
            display: none;
        }
        .messanger-footer:not(:last-child) {
            margin-right: 30px;
        }
        .footer-social {
            margin-bottom: 0px;
            margin-top: -10px;
        }
    }
    
    @media (max-width:885px) {
        .contacts-form {
            padding-right: 43px;
        }
    }
    
    @media (max-width:760px) {
        .client-info-field {
            min-width: 260px;
        }
        .map {
            min-height: 757px;
        }
    }
    
    @media (max-width:650px) {
        .contacts-info {
            flex-direction: column-reverse;
        }
        .contacts-title {
            margin-bottom: unset;
        }
        .section-contacts__container {
            padding-bottom: 75px;
        }
        .section-inside {
            position: relative;
        }
        .form-nameshop {
            position: absolute;
            top: -58px;
            left: 15px;
            font-size: 18px;
        }
        .form-nameaddress {
            position: absolute;
            top: -33px;
            left: 15px;
            font-size: 14px;
        }
        .map {
            min-height: unset;
            height: 320px;
        }
        .client-info-order {
            font-size: 18px;
        }
        .contacts-form {
            padding-top: 25px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
            border: unset;
        }
        .inside-form-container {
            padding-left: unset;
        }
        .form-client-info {
            margin-bottom: 25px;
        }
        .client-info-order {
            margin-bottom: 21px;
        }
        .client-info-field {
            margin-bottom: 20px;
            min-width: unset;
            width: 100%;
        }
        .add-client {
            width: fit-content;
            font-size: 12px;
            padding: 12px 33px;
        }
        .contacts-messanger {
            margin-bottom: 10px;
            font-size: 18px;
        }
        .social1024 {
            display: none;
        }
        .social320 {
            display: block;
        }
        .messanger-link {
            margin-top: 12px;
        }
        .messanger:first-child {
            margin-right: 20px;
        }
        .section-footer__container {
            flex-direction: column-reverse;
            align-items: center;
            padding-top: 30px;
        }
        .social-footer1024 {
            display: none;
        }
        .social-footer320 {
            display: block;
        }
        .footer-social {
            margin-bottom: 20px;
        }
        .myname+.js-validate-error-label {
            bottom: 148px;
        }
        .mytel+.js-validate-error-label {
            bottom: 87px;
        }
        /* hover */
        .client-info-field:hover {
            background-color: var(--color-white)
        }
        .client-info-field:focus {
            background-color: #EAEAEA;
        }
        .add-client:hover {
            border: 2px solid var(--color-purple);
            background-color: transparent;
            color: var(--color-purple);
        }
        .add-client:focus::before {
            border: 2px solid var(--color-active);
        }
        .add-client:focus {
            border: 2px solid #D1A9F0;
            background-color: var(--color-white);
            color: var(--color-hover);
        }
        .add-client:active::before {
            border: 2px solid var(--color-active);
        }
        .add-client:active {
            border: 2px solid #D1A9F0;
            background-color: var(--color-hover);
            color: var(--color-white);
        }
        .social:hover {
            filter: unset;
            opacity: 1;
        }
        .link-social:focus .social {
            filter: none;
            opacity: 0.5;
        }
        .social:active {
            filter: none;
            opacity: 0.5;
            border: .5px solid var(--color-hover);
        }
        .social-footer:hover {
            fill: #CACACA;
        }
        .footer-application-link:focus .social-footer {
            fill: var(--color-white);
        }
        .social-footer:active {
            fill: var(--color-active);
        }
    }