.book-name1024 {
    display: none;
}

.section-edition {
    margin-bottom: 82px;
    background: url(../img/издания.webp);
    background-size: cover;
}

.section-edition__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 82px;
    padding-bottom: 66px;
}

.edition-filter {
    flex-basis: 25%;
}

.edition-title {
    margin: 0;
    margin-bottom: 30px;
    color: var(--color-white);
}

.title-edition {
    margin-bottom: 13px;
    font-family: 'OpenSans';
    font-weight: 700;
    font-size: 16px;
    color: var(--color-white);
}

.edition-type {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;
}

.edition-check {
    position: relative;
    padding-left: 25px;
    width: fit-content;
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    color: var(--color-white);
}

.edition-check:not(:last-child) {
    margin-bottom: 13.5px;
}

.edition-cheking {
    position: absolute;
    opacity: 0;
}

.edition-check-text::before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    top: 3px;
    width: 13px;
    height: 13px;
    text-align: center;
    border: 1px solid var(--color-white);
    transition-duration: 0.3s;
}

.edition-check-text::after {
    content: '';
    position: absolute;
    left: 4.8px;
    top: calc(50% - 4px / 2);
    width: 4px;
    height: 4px;
    color: var(--color-purple);
    border-radius: 50%;
    background-color: var(--color-purple);
    transition-duration: 0.3s;
    opacity: 0;
}

.edition-check-text {
    padding-left: 0px;
    transition-duration: 0.3s;
    color: var(--color-white);
    font-size: 16px;
}

.filter-edition title {
    margin-bottom: 10px;
}

.edition-price-filter {
    width: fit-content;
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.price-field {
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 8px;
    max-width: 75px;
    background-color: rgba(157, 92, 208, 0.5);
    color: var(--color-white);
    border: 1px solid transparent;
    cursor: pointer;
}

.price-end-field {
    padding-right: 0px;
}


/* красим плейсхолдер */

.price-field::placeholder {
    color: var(--color-white);
}

.price-field::-webkit-input-placeholder {
    color: var(--color-white);
}

.price-field::-ms-input-placeholder {
    color: var(--color-white);
}

.price-field:-moz-placeholder {
    color: var(--color-white);
    opacity: 1;
}

.price-field::-moz-placeholder {
    color: var(--color-white);
    opacity: 1;
}

.price-field:-ms-input-placeholder {
    color: var(--color-white);
}


/* -//- */

.range-name {
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.price-start {
    padding-left: 8px;
}

.price-end {
    padding-left: 3px;
}

.price-value {
    padding-left: 2px;
    padding-right: 10px;
}

.wrapper {
    padding-left: 40px;
    margin: 0;
    flex-basis: 75%;
    overflow: hidden;
}

.swiper-edition {
    padding-left: 10px;
    max-width: 1160px;
    overflow: hidden;
}

.edition-image {
    width: 100%;
}

.edition-image-wrap {
    margin-bottom: 20px;
}

.book-info {
    padding-bottom: 10px;
    color: var(--color-white);
}

.info-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.book-name {
    font-family: 'OpenSans';
    font-weight: 700;
    font-size: 16px;
}

.book-price {
    font-family: 'OpenSansItalic';
}

.book-author {
    margin-bottom: 15px;
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 16px;
}

.book-order {
    position: relative;
    padding: 8px 19px;
    width: fit-content;
    font-family: 'OpenSans';
    font-weight: 700;
    font-size: 16px;
    border: 3px solid var(--color-purple);
    border-radius: 100px;
    color: var(--color-white);
}

.book-order::before {
    content: '';
    position: absolute;
    display: block;
    top: -5px;
    left: -5px;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    border-radius: 100px;
    border: 2px solid transparent;
}

.book-order::after {
    content: '';
    position: absolute;
    display: block;
    top: -7px;
    left: -7px;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    border-radius: 100px;
    border: 2px solid transparent;
}

.swiper-edition-btns {
    padding-left: 10px;
    margin-bottom: 29px;
    padding-top: 30px;
}

.swiper-pagination-edition {
    width: fit-content;
    text-align: center;
    padding: 0;
    padding-left: 18px;
    padding-right: 18px;
}

.edition-btn-prev::before {
    top: calc(50% - 9px/2);
    right: calc(50% - 9px/2);
}

.edition-btn-prev::after {
    bottom: 0;
    right: 0;
}

.edition-btn-next::before {
    top: calc(50% - 9px/2);
    left: calc(50% - 9px/2);
}

.edition-btn-next::after {
    bottom: 0;
    left: 0;
}


/* hover active focus */

.edition-cheking+.edition-check-text,
.edition-cheking+.edition-check-text::before,
.price-field,
.book-order {
    transition: color, border-color, background-color, border;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.edition-cheking:hover+.edition-check-text {
    color: var(--color-purple)
}

.edition-cheking:hover+.edition-check-text::before {
    border-color: var(--color-purple);
}

.edition-cheking:focus+.edition-check-text {
    color: var(--color-purple)
}

.edition-cheking:focus+.edition-check-text::before {
    border-color: var(--color-purple);
}

.edition-cheking:checked+.edition-check-text {
    color: var(--color-purple);
}

.edition-cheking:checked+.edition-check-text::after {
    opacity: 1;
}

.edition-cheking:checked+.edition-check-text::before {
    border-color: var(--color-purple);
}

.price-field:hover {
    background-color: var(--color-hover)
}

.price-field:active {
    background-color: var(--color-active)
}

.price-field:focus {
    background-color: var(--color-hover);
    border: 1px solid var(--color-white);
}

.book-order:focus::after {
    border: 2px solid var(--color-hover);
}

.book-order:active::before {
    border: 2px solid var(--color-white);
}

.book-order:active::after {
    border: 2px solid transparent;
}

.book-order:hover {
    background-color: var(--color-hover);
    border: 3px solid transparent;
}

@media (max-width:1300px) {
    .section-edition {
        background: url(../img/издания1024.webp);
    }
    .section-edition__container {
        padding-bottom: 80px;
    }
    .edition-image-wrap {
        margin-bottom: 0px;
    }
    .book-name1024 {
        display: block;
    }
    .book-hide1024 {
        display: none;
    }
    .book-name1024 {
        display: block;
    }
    .wrapper {
        padding-left: unset;
        flex-basis: 69%;
    }
    .edition-filter {
        flex-basis: 31%;
    }
    .edition-price-filter {
        margin-right: -100px;
    }
    .edition-image {
        padding-bottom: 10px;
        height: 320px;
        width: 100%;
    }
}

@media (max-width:885px) {
    .section-edition {
        background: url(../img/издания768.webp);
    }
    .section-edition__container {
        flex-direction: column;
        justify-content: unset;
        padding-top: 88px;
        padding-bottom: 69px;
    }
    .wrapper {
        flex-basis: unset;
    }
    .swiper-edition {
        max-width: 640px;
        padding-left: 25px;
    }
    .edition-type {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 32px);
        grid-auto-flow: column;
        grid-column-gap: 55px;
        margin-bottom: 25px;
    }
    .grid-check {
        grid-row: 4/span 1;
    }
    .edition-check:not(:last-child) {
        margin-bottom: 0px;
    }
    .edition-check {
        height: fit-content;
    }
    .edition-price-filter {
        margin-bottom: 20px;
    }
    .swiper-edition-btns {
        padding-left: unset;
    }
}

@media (max-width:760px) {
    .swiper-edition {
        max-width: calc(100vw - 100px);
    }
    .edition-type {
        grid-row-gap: 10px;
    }
}