/* projects */

.project-text-show320 {
    display: none;
}

.projects-title {
    margin-bottom: 24px;
}

.section-projects {
    margin-bottom: 85px;
}

.projects-info {
    margin-bottom: 20px;
    max-width: 1053px;
}

.tultip {
    display: inline-block;
    top: 3px;
    width: 16px;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.tippy-box[data-theme~='tippy'] {
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 12px;
    background: var(--color-purple);
    color: var(--color-white);
    text-align: center;
}

.tippy-box[data-theme~='tippy'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--color-purple);
}

.tippy-box[data-theme~='tippy'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: var(--color-purple);
}

.tippy-box[data-theme~='tippy'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: var(--color-purple);
}

.tippy-box[data-theme~='tippy'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: var(--color-purple);
}

.project-web-address {
    cursor: pointer;
    color: var(--color-purple);
    font-weight: 600;
    border-bottom: 1px solid transparent;
}

.projects-partners {
    margin-bottom: 29px;
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 24px;
}

.swiper-block-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.swiper-projects {
    margin: 0 10px;
    width: 100%;
    max-width: 1450px;
    overflow: hidden;
    position: relative;
}

.slide-projects {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-flow: row nowrap;
    position: relative;
    height: 150px;
    cursor: pointer;
    transition: filter .5s ease-in-out;
}

.slide-projects::before {
    content: '';
    position: absolute;
    border: 1px solid #cacaca;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    overflow: visible;
    z-index: 50;
}

.project-pic {
    filter: grayscale(1);
    opacity: 0.3;
}

.projects-btn-prev,
.projects-btn-next {
    position: relative;
    background-color: transparent;
    border: none;
    color: transparent;
}


/* стрелки свайпер  */

.projects-btn-prev::before {
    content: " ";
    position: absolute;
    right: calc(50% - 9px/2);
    top: 70px;
    padding: 4px;
    transform: rotate(135deg);
    cursor: pointer;
    z-index: 1;
    border: solid var(--color-dark);
    border-width: 0 1px 1px 0;
}

.projects-btn-prev::after {
    content: " ";
    position: absolute;
    left: 0px;
    top: 60px;
    width: 30px;
    height: 30px;
    background: rgba(236, 236, 236, 1);
    border-radius: 100%;
    overflow-y: visible;
}

.projects-btn-next::before {
    content: " ";
    position: absolute;
    right: calc(50% - 9px/2);
    top: 70px;
    padding: 4px;
    transform: rotate(-45deg);
    cursor: pointer;
    z-index: 1;
    border: solid var(--color-dark);
    border-width: 0 1px 1px 0;
}

.projects-btn-next::after {
    content: " ";
    position: absolute;
    right: 0px;
    top: 60px;
    width: 30px;
    height: 30px;
    background: rgba(236, 236, 236, 1);
    border-radius: 100%;
    overflow-y: visible;
}

.tultip__svg {
    border: 1px solid transparent;
    border-radius: 100%;
}


/* hover focus active */

.project-web-address,
.tultip__svg,
.project-pic {
    transition: background-color, border, border-bottom, opacity, grayscale;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.tultip__svg:hover,
.tultip__svg:focus {
    background-color: #9D5CD0;
    border: 1px solid var(--color-hover);
}

.tultip__svg:active {
    background-color: #9D5CD0;
    border: 1px solid transparent;
    stroke: var(--color-white);
}

.project-web-address:hover {
    color: var(--color-hover);
    border-bottom: 1px solid var(--color-hover);
}

.project-web-address:active {
    color: var(--color-active);
    border-bottom: 1px solid var(--color-active);
}

.project-web-address:focus {
    background-color: var(--color-hover);
    color: var(--color-white);
    border-bottom: 1px solid transparent;
}

.slide-projects:hover .project-pic,
.slide-projects:active .project-pic {
    filter: grayscale(0);
    opacity: 1;
}

.slide-projects:active::before {
    border: 1px solid #9D5CD0;
}

.slide-projects:focus::before {
    border: 1px solid #9D5CD0;
}

@media (max-width:1300px) {
    .swiper-projects {
        flex-basis: 88.5%;
    }
    .projects-partners {
        margin-bottom: 25.5px;
    }
    .slide-projects {
        height: 128px;
    }
    .slide-projects::before {
        width: calc(100% - 4px)
    }
    .projects-btn-prev::before,
    .projects-btn-next::before {
        top: 60px;
    }
    .projects-btn-prev::after,
    .projects-btn-next::after {
        top: 50px;
    }
}

@media (max-width:885px) {
    .projects-info {
        max-width: 660px;
        margin-bottom: 28px;
    }
    .swiper-projects {
        flex-basis: 84.5%;
    }
    .projects-partners {
        margin-bottom: 32px;
    }
    .slide-projects {
        height: 106px;
    }
    .swiper-block-projects {
        align-items: center;
    }
    .projects-btn-prev::before,
    .projects-btn-next::before {
        top: 10px;
    }
    .projects-btn-prev::after,
    .projects-btn-next::after {
        top: 0;
    }
}

@media (max-width:650px) {
    .section-projects {
        margin-bottom: 52px;
    }
    .projects-title {
        margin-bottom: 16px;
    }
    .projects-info {
        flex-basis: 100%;
        margin-bottom: 17px;
        max-width: unset;
        font-size: 16px;
        line-height: 32px;
    }
    .project-text-hide320 {
        display: none;
    }
    .project-text-show320 {
        display: inline;
    }
    .project-web-address {
        margin-left: -2px;
    }
    .projects-partners {
        margin-bottom: 15px;
        font-size: 18px;
    }
    .swiper-projects {
        flex-basis: 67%;
    }
    .slide-projects {
        height: 65px;
    }
    /* hover */
    .tultip__svg:focus {
        background-color: #9D5CD0;
        border: 1px solid var(--color-hover);
    }
    .tultip__svg:hover {
        background-color: var(--color-white);
        border: 1px solid transparent;
    }
    .tultip__svg:active {
        background-color: #9D5CD0;
        border: 1px solid transparent;
        stroke: var(--color-white);
    }
    .project-web-address:hover {
        color: var(--color-purple);
        border-bottom: 1px solid transparent;
    }
    .project-web-address:focus {
        background-color: var(--color-hover);
        color: var(--color-white);
        border-bottom: 1px solid transparent;
    }
    .slide-projects:hover .project-pic {
        filter: grayscale(1);
        opacity: 0.3;
    }
    .slide-projects:active .project-pic {
        filter: grayscale(0);
        opacity: 1;
    }
    .projects-btn-next:hover::after,
    .projects-btn-prev:hover::after {
        background-color: rgba(236, 236, 236, 1);
    }
    .projects-btn-next:active::after,
    .projects-btn-prev:active::after {
        background: var(--color-active);
        border: 1px solid var(--color-dark);
    }
}